# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.idea/
.vscode/
*.swp
*.swo
*~

# Build and Distribution
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
*.egg-info/
*.egg

# Documentation Build
docs/_build/

# Cache
.cache/
